.dialog {
  border: 10px solid #ffffff33;
  min-width: 400px;
  border-radius: 4px;
  background-color: #e4d6bc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  margin: 0;
  margin-bottom: 1ch;
}
