.menu {
  backdrop-filter: blur(20px);
  background-color: #1f313c11;
  border-radius: 10px;
  position: fixed;
  right: anchor(left);
  top: anchor(top);
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
