.repliqueCharacter {
  font-size: 1.2rem;
  font-weight: bold;
}

.repliqueTextContainer {
  display: flex;
  flex-direction: column;
}

.repliqueText {
  position: relative;
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.repliqueDeleted {
  text-decoration: line-through;
}

.repliqueText::selection {
  background-color: lightskyblue;
}

.repliqueText:focus {
  background-color: lightyellow;
  outline: 0;
}

.replique {
  border: 1px solid transparent;
  position: relative;
}

.indicatorDisabled {
  background-color: #fff !important;
}

.unsavedDraftIndicator {
  background-color: #333;
  width: 6px;
  height: 6px;
  border-radius: 40px;
  position: absolute;
  right: 7px;
  top: 8px;
}

.sharedDraftsIndicator {
  background-color: orange;
  width: 6px;
  height: 6px;
  border-radius: 40px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.previousVersionsIndicator {
  background-color: skyblue;
  width: 6px;
  height: 6px;
  border-radius: 40px;
  position: absolute;
  right: 23px;
  top: 8px;
}

.replique:hover .repliqueHandle {
  background-color: #e4d6bc;
  color: black;
}

.replique:hover {
  cursor: text;
}

.repliqueHandle {
  position: absolute;
  padding: 8px 4px;
  left: -20px;
  top: 0;
  height: calc(100% + 1px);
  border-radius: 4px 0px 0px 4px;
  width: 19px;
  color: #999;
  cursor: grab;
  box-sizing: border-box;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.replique:hover .repliqueHandle::after {
  content: '⣿';
  color: white;
}

.replique:hover .menuHandle {
  background-color: #e4d6bc;
}

.repliqueNum {
  position: absolute;
  top: 0;
}

.repliqueVersion {
  align-self: flex-end;
  font-weight: bold;
  font-style: italic;
  padding: 2px 4px 2px 4px;
  border: 0;
  display: flex;
  flex-direction: row;
}

.repliqueActions {
  position: absolute;
  right: -26px;
  height: 100%;
  top: 0;
  display: none;
  flex-direction: column;
  gap: 4px;
  padding-top: 4px;
}

.repliqueAction {
  cursor: pointer;
  padding: 2px;
  height: 20px;
  width: 25px;
  background-color: #1f313c;
  padding: 0px;
  margin: 0px;
}

.repliqueActionDisabled {
  background-color: #999;
}

.repliqueActionDisabled:hover {
  cursor: default;
  background-color: #999;
}

.repliqueActionViewVersions {
  mask: url('/src/assets/clock-rewind.svg') no-repeat center;
  mask-size: contain;
}

.repliqueActionDelete {
  mask: url('/src/assets/trash-03.svg') no-repeat center;
  mask-size: contain;
}

.repliqueText em {
  display: contents;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.selected {
  background-color: #ffb6c144;
}

.menu {
  backdrop-filter: blur(20px);
  background-color: #1f313c11;
  border-radius: 10px;
  position: fixed;
  right: anchor(left);
  top: anchor(top);
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menuHandle {
  position: absolute;
  right: -40px;
  top: 0px;
  height: 24px;
  border-radius: 4px;
  width: 39px;
  cursor: pointer;
  border: 1px solid transparent;
}

.menuHandle:hover {
  border: 1px solid #e4d6bc;
  background: #e4d6bc;
}

.blurOverlay {
  background: #ffffff55;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
}

.partName {
  text-align: center;
  font-size: 1.2rem;
}

.partNameDepth0 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.partNameDepth1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.partNameDepth2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.partNameDepth3 {
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}

.partNameDepth4 {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

.freetextLine {
  font-style: oblique;
  color: #666;
}

.lineToBeContainer {
  height: 3ch;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.lineToBeContainer:focus-visible {
  background-color: lightcyan;
  visibility: visible;
}

.lineToBeContainer .instructions {
  visibility: hidden;
  text-align: center;
  color: #000;
}

.lineToBeContainer:focus-visible .instructions {
  visibility: visible;
}

.headingsMenu {
  padding: 4px;
  position: absolute;
  top: 3ch;
  background-color: lightcyan;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hidden {
  display: none;
}

.headingsMenu div {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
