.scriptContent {
  width: 21cm;
  min-width: 21cm;
  height: 29.7cm;
  flex: 1;
  background-color: #ffffff;
  white-space: pre-wrap;
  padding: 20px 40px;
  border: 2px solid #e4d6bc;
  box-shadow: 6px 15px 2px #e4d6bc;
  gap: 0px;
  display: flex;
  flex-direction: column;
  transform: scale(100%);
}

.scriptContent * {
  font-family: 'Cutive Mono', monospace;
  font-optical-sizing: auto;
}

.menu {
  backdrop-filter: blur(20px);
  background-color: #1f313c11;
  border-radius: 10px;
  position: fixed;
  right: anchor(left);
  top: anchor(top);
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modalContainer {
  position: fixed;
  top: 80px;
  backdrop-filter: blur(4px);
  width: 100%;
  height: calc(100% - 80px);
  padding: 1ch;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalContainer > * {
  box-shadow: 4px 4px 2px #666;
}

.sharedDraftsButton {
  color: orange;
}

.previousVersionsButton {
  color: skyblue;
}

.sharedDraftsButtonIcon {
  background-color: orange;
}

.previousVersionsButtonIcon {
  background-color: skyblue;
}

.panelsContainer {
  position: fixed;
  width: 300px;
  height: calc(100% - 80px);
  padding: 1ch;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
