.dialog {
  width: 21cm;
  max-height: calc(100% - 2ch);
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  gap: 4px;
  overflow-y: auto;
  flex: 0;
}

.currentContentContainer {
  flex: auto;
}

.sectionTitle {
  margin: 0;
  font-size: 1rem;
  color: #1f313c;
  background-color: #e9dec9;
  border-radius: 4px;
  padding: 2px;
  align-self: stretch;
}

.lineVersionHeader {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.lineVersionHeaderArrowCollapsed {
  transition: transform 100ms ease-in-out;
}

.lineVersionHeaderArrowExpanded {
  transform: rotate(90deg);
  transition: transform 100ms ease-in-out;
}

.lineVersionContent {
  margin-left: 10px;
  border: 2px solid #1f313c77;
  border-radius: 4px;
  background-color: #fefefe88;
  padding: 4px;
}

.lineVersionActions {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-end;
}
