@keyframes skeleton-shimmer {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0%;
  }
}

.skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.skeleton * {
  border-radius: 0.5rem;
}

.skeleton .lines > div {
  /* Define the colors as css custom props */
  --_default-color: #1f313c22;
  --_shimmer-color: #1f313c;

  /* Apply the animation that moves the background */
  animation: skeleton-shimmer 2s ease-out infinite;

  /* Create a background that has a small shimmer "stripe"
    and tilt it 100 degrees. */
  background: linear-gradient(
    100deg,
    var(--_default-color),
    var(--_default-color) 50%,
    var(--_shimmer-color) 60%,
    var(--_default-color) 70%
  );

  /* Make the background twice the width so we can offset it. */
  background-size: 200% 100%;
  background-attachment: fixed;
}

.skeleton .image {
  /* Define the colors as css custom props */
  --_default-color: #1f313c22;
  --_shimmer-color: #1f313c;

  /* Apply the animation that moves the background */
  animation: skeleton-shimmer 2s ease-out infinite;

  /* Create a background that has a small shimmer "stripe"
    and tilt it 100 degrees. */
  background: linear-gradient(
    100deg,
    var(--_default-color),
    var(--_default-color) 50%,
    var(--_shimmer-color) 60%,
    var(--_default-color) 70%
  );

  /* Make the background twice the width so we can offset it. */
  background-size: 200% 100%;
  background-attachment: fixed;
}

.lines {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.lines > div {
  height: 1.5rem;
  width: 100%;
}

.lines > div:last-child {
  width: 80%;
}
.image {
  aspect-ratio: 1;
}
