.container {
  border: 1px solid #ccc;
  border: 1px solid #cebc96;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  height: 2rem;
  background-color: transparent;
  gap: 1px;
}

.contentContainer {
  flex: 1;
  background-color: #e8e4da;
  background-color: #e4d6bc33;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #e4d6bc;
}

.tab {
  font-family: Arimo;
  color: #1f313c;
  padding: 8px;
  border: 1px solid #cebc96;
  border-bottom: 0;
  background-color: #e8e4da;
  background-color: #f9f1e2;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  height: 30px;
  position: relative;
  left: -0.5px;
}

.tab.active {
  font-weight: bold;
  height: 31px;
  border-bottom: 0;
  z-index: 1000;
  top: 2px;
}

.tab.inactive {
  background-color: #e4d6bc;
  top: 2px;
}

.tab:focus-visible {
  border-color: #e8ce7d;
  background-color: #e8ce7d99;
  color: #1f313c;
}
