.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: #1f313c77;
  mask-image: url('/src/assets/icons/alert-hexagon.svg');
  mask-repeat: no-repeat;
}

.message {
  max-width: 400px;
  color: #1f313c77;
}
