.header {
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  align-self: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 1px solid #cebc96;
}

.headerInner {
  height: 40px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  background-color: #7b520033;
  backdrop-filter: blur(20px);
  top: 0;
  transition: top 0.5s ease-out;
  padding-left: 4px;
  padding-right: 4px;
}

.menuBurger {
  width: 20px;
  height: 20px;
  background-color: #333;
  mask-image: url('/src/assets/dots-vertical.svg');
  mask-repeat: no-repeat;
  mask-position: 0 0;
}

.headerInner.collapsed {
  position: relative;
  top: -82px;
}

.logoContainer {
  width: 125px;
}

.logo {
  margin-top: 3px;
  display: block;
  background-image: url('/src/assets/marivo-app-text-logo.webp');
  background-size: 90%;
  background-position: 10px 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 48px;
  top: 2px;
}

.logo:focus-visible {
  transform: rotate(180deg);
}

.user {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-content: center;
  align-items: center;
  word-wrap: true;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.breadcrumbs {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  gap: 10px;
  height: 40px;
}

.breadcrumbArrow {
  color: #7b520033;
  top: 1px;
  position: relative;
}

.pageTitle {
  color: #1f313c;
  font-family: 'Lobster Two', sans-serif;
  font-size: 2rem;
  margin: 0;
  align-content: center;
}

.pageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userContainer {
  font-family: 'Lobster Two', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userActionsMenu {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.userAction {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 4px;
}

.userAction:hover {
  background-color: #1f313ccc;
}

.userActionSettings {
  mask: url('/src/assets/user-circle.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionNotifications {
  mask: url('/src/assets/bell-O3.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionHelp {
  mask: url('/src/assets/help-circle.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionLogout {
  mask: url('/src/assets/log-out-02.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.toolbar {
  display: flex;
  justify-content: center;
  padding: 4px;
  background-color: #ece2cc;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #ece2cc;
  backdrop-filter: blur(20px);
}
