.importFilters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #1f313c;
  border: 1px solid #cebc96;
  border-radius: 4px;
  flex: 0 1 0;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrowDown {
  color: #cebc96;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 8px;
}

.statusOptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
}

.statusOption {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.statusOption:hover {
  background-color: #1f313c11;
}
