.plays {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  border: 1px solid #cebc96;
  border-radius: 4px;
  background-color: #e4d6bc33;
  flex: 1;
}

.play {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 600px;
  min-height: 125px;
}

.playSkeleton {
  list-style: none;
  margin: 0;
  min-width: 600px;
  min-height: 125px;
  border: 1px solid #e4d6bc;
  border-left: 10px solid #1f313c22;
  border-radius: 4px;
  background-color: #e8e4da;
  padding: 12px;
}

.play > a {
  border: 1px solid #1f313c;
  border-left: 10px solid #1f313c;
  border-radius: 4px;
  background-color: #e8e4da;
  background-color: #99999914;
  color: #1f313c;
  text-decoration: none;
  margin: 0px;
  min-height: 100px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease-out;
}

.play.disabled > a {
  border-left: 10px solid #1f313c22;
}

.play.disabled > a:hover {
  cursor: default;
  background-color: #e8e4da;
  border-left: 10px solid #1f313c22;
}

.play.disabled .playPoster,
.play.disabled:hover .playPoster {
  background-color: #1f313c22;
}

.play > a:focus {
  text-decoration: none;
  border: 1px solid #e8ce7d;
  border-left: 10px solid #e8ce7d;
}

.play > a:hover {
  cursor: pointer;
  background-color: #1f313c19;
  border-left: 10px solid #1f313c;
}

.playTitle {
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.playDetailsValues {
  font-weight: bold;
  text-align: left;
}

.playDetails {
  display: grid;
  font-style: italic;
  flex: 1;
  grid-gap: 0 4px;
  grid-template-columns: auto 1fr;
}

.playPoster {
  display: none;
  width: 100px;
  height: 100px;
  background-color: #1f313c;
  border-radius: 4px;
}

.playPosterOverlay {
  width: 100px;
  height: 100px;
  mask: url('/src/assets/book-closed.svg') no-repeat;
  mask-size: 60px 60px;
  mask-position: 20px 20px;
  background-color: #e8e4da;
}

.playPosterOverlay.opening {
  mask: url('/src/assets/dots-horizontal.svg') no-repeat;
  mask-size: 60px 60px;
  mask-position: 20px 20px;
}

.play.disabled:hover .playPosterOverlay {
  mask: url('/src/assets/book-closed.svg') no-repeat;
  mask-size: 60px 60px;
  mask-position: 20px 20px;
}

.play:hover .playPoster {
  background-color: #1f313c;
}

.play:hover .playPosterOverlay {
  mask: url('/src/assets/book-open-01.svg') no-repeat;
  mask-size: 60px 60px;
  mask-position: 20px 20px;
}

.play:hover .playPosterOverlay.opening {
  mask: url('/src/assets/dots-horizontal.svg') no-repeat;
  mask-size: 60px 60px;
  mask-position: 20px 20px;
}

.noPlaysContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
  flex: 1;
}

.noPlaysContainer p {
  margin: 0;
}

.loaderContainer {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
