.toolbar {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  margin-top: 2px;
  z-index: 8;
}

.toolbarItem {
  cursor: pointer;
  background-color: #7b520033;
  backdrop-filter: blur(10px);
  color: #1f313c;
  font-size: 0.8rem;
  font-family: Arimo;
  border-radius: 4px;
  padding: 4px;
  background-position: 0 0;
  background-repeat: no-repeat;
  align-items: flex-end;
  border: 1px solid #e4d6bc;
  border: 3px solid #1f313c22;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.toolbarItem:hover {
  background-color: #1f313c22;
}

.toolbarIcon {
  background-color: #1f313c;
  width: 1rem;
  height: 1rem;
}

.toolbarIconFilter {
  mask: url('/src/assets/icons/filter-funnel-02.svg') no-repeat;
}
