.container {
  align-self: center;
  position: relative;
}

.modalContainer {
  position: fixed;
  top: 80px;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  left: 0;
  padding: 100px;
}
