.dialog {
  border: 10px solid #ffffff33;
  min-width: 400px;
  border-radius: 4px;
  background-color: #e4d6bc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  margin: 0;
}

.choices {
  margin: 1ch;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: stretch;
}

.choices li {
  list-style: none;
  margin: 0;
  height: 50px;
  padding: 0;
  border-radius: 4px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
  position: relative;
}

.choices li input {
  margin: 4px;
}

.choices li label {
  padding: 4px;
  padding-left: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.choices li:hover {
  background-color: #ffffff99;
}

.headingChoice {
  margin: 0;
}
