.searchRow {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.searchControls {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: center;
}

.options {
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
